.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

.container h1 {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: #900;
}

button.accordion {
    width: 100%;
    background-color: #ffffe6;
    border: none;
    outline: none;
    text-align: left;
    padding: 4% 4% 2% 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border-bottom: 1px solid black; 
}

button.accordion:hover {
    background-color: azure;
}

.accordion-content {
    background-color: aliceblue;
    font-family: Tahoma, Verdana, Arial, sans-serif; 
    padding: 0 4%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.click-next-topic {
    background-color: #900;
    color: white;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 130%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 2% 4%; 
    cursor: pointer; 
    margin: auto;
    display: block;
    
}

footer {
    background-color: #2f2b1e;
    margin-top: 2%;
    padding: 4% 0;
    width: 100%;
}

#open-modal-button {
    color: yellowgreen;    
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 100%;
    text-decoration: underline;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 4%;    
}

.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: flex-start,
}

.modal-container {
    position: fixed;
    background-color: #fff;
    border-radius: 2px;
    width: 80%;
    max-width: 600px;
    padding: 0 3%;
    margin: 0;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
}

#close-modal-button {
    position: absolute;
    font-size: 150%;
    padding: none;
    top: 5%;
    right: 2%;
}